@page
@using SplatNet2.Net.Api.Data
@model Annaki.Web.Pages.AnnakiModel
@{
}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    // Load the Visualization API and the corechart package.
    google.charts.load('current', { 'packages': ['corechart'] });

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(drawClamsChart);
    google.charts.setOnLoadCallback(drawRainChart);
    google.charts.setOnLoadCallback(drawZonesChart);
    google.charts.setOnLoadCallback(drawTowerChart);

    var options = {
        chartArea: { width: '70%', height: '90%' },
        fontName: 'Loto',
        pointSize: 10,
        backgroundColor: {
            fill: 'transparent'
        },
        series: {
            0: {
                color: '#ed4710'
            },
            1: {
                lineWidth: 0,
                color: '#000080'
            }
        },
        hAxis: {
            textStyle: {
                color: 'white'
            },
            gridlines: {
                color: '#555555'
            }
        },
        vAxis: {
            textStyle: {
                color: 'white'
            },
            titleTextStyle: {
                color: 'white'
            },
            gridlines: {
                color: '#555555'
            },
            minorGridlines: {
                color: '#555555',
                count: 0
            }
        },
        legend: {
            textStyle: {
                color: 'white'
            }
        },
        explorer: {
            maxZoomIn: 0.05,
            keepInBounds: true
        }
    }

    function drawClamsChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('number', 'Index Number of Battle');
        data.addColumn('number', 'X Power');
        data.addColumn({ type: 'string', role: 'tooltip' });
        data.addColumn('number', 'Lobby Power');
        data.addColumn({ type: 'string', role: 'tooltip' });

        var battleData = [@Model.FormatBattleData(GameMode.ClamBlitz)];

        for (let i = 0; i < battleData.length; i++) {
            data.addRow([
                battleData[i][0],
                battleData[i][2],
                `X Power: ${battleData[i][2]}\n${battleData[i][1].toLocaleString("en-US")}`,
                battleData[i][3],
                `Lobby Power: ${battleData[i][3]}\n${battleData[i][1].toLocaleString("en-US")}`
            ]);
        }

        var chart = new google.visualization.LineChart(document.getElementById('clams-graph'));
        chart.draw(data, options);

        $('#graphCarousel').on('slid.bs.carousel', function () {
            chart.draw(data, options);
        });
    }

    function drawZonesChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('number', 'Index Number of Battle');
        data.addColumn({ type: 'date', role: 'tooltip' });
        data.addColumn('number', 'X Power');
        data.addColumn('number', 'Lobby Power');

        var battleData = [@Model.FormatBattleData(GameMode.SplatZones)];

        for (let i = 0; i < battleData.length; i++) {
            data.addRow([
                battleData[i][0],
                battleData[i][2],
                `X Power: ${battleData[i][2]}\n${battleData[i][1].toLocaleString("en-US")}`,
                battleData[i][3],
                `Lobby Power: ${battleData[i][3]}\n${battleData[i][1].toLocaleString("en-US")}`
            ]);
        }

        var chart = new google.visualization.LineChart(document.getElementById('zones-graph'));
        chart.draw(data, options);

        $('#graphCarousel').on('slid.bs.carousel', function () {
            chart.draw(data, options);
        });
    }

    function drawRainChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('number', 'Index Number of Battle');
        data.addColumn({ type: 'date', role: 'tooltip' });
        data.addColumn('number', 'X Power');
        data.addColumn('number', 'Lobby Power');

        var battleData = [@Model.FormatBattleData(GameMode.Rainmaker)];

        for (let i = 0; i < battleData.length; i++) {
            data.addRow([
                battleData[i][0],
                battleData[i][2],
                `X Power: ${battleData[i][2]}\n${battleData[i][1].toLocaleString("en-US")}`,
                battleData[i][3],
                `Lobby Power: ${battleData[i][3]}\n${battleData[i][1].toLocaleString("en-US")}`
            ]);
        }

        var chart = new google.visualization.LineChart(document.getElementById('rain-graph'));
        chart.draw(data, options);

        $('#graphCarousel').on('slid.bs.carousel', function () {
            chart.draw(data, options);
        });
    }

    function drawTowerChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('number', 'Index Number of Battle');
        data.addColumn({ type: 'date', role: 'tooltip' });
        data.addColumn('number', 'X Power');
        data.addColumn('number', 'Lobby Power');

        var battleData = [@Model.FormatBattleData(GameMode.TowerControl)];

        for (let i = 0; i < battleData.length; i++) {
            data.addRow([
                battleData[i][0],
                battleData[i][2],
                `X Power: ${battleData[i][2]}\n${battleData[i][1].toLocaleString("en-US")}`,
                battleData[i][3],
                `Lobby Power: ${battleData[i][3]}\n${battleData[i][1].toLocaleString("en-US")}`
            ]);
        }

        var chart = new google.visualization.LineChart(document.getElementById('tower-graph'));
        chart.draw(data, options);

        $('#graphCarousel').on('slid.bs.carousel', function() {
            chart.draw(data, options);
        });
    }
</script>

<div id="graphCarousel" class="carousel carousel-fade m-auto graph-carousel" data-interval="false">
    <ol class="carousel-indicators">
        <li data-target="#graphCarousel" data-slide-to="0" class="active">
            <img class="d-block w-100" src="img/mode/clam.png" alt="Clam Blitz"/>
        </li>
        <li data-target="#graphCarousel" data-slide-to="1">
            <img class="d-block w-100" src="img/mode/zone.png" alt="Clam Blitz" />
        </li>
        <li data-target="#graphCarousel" data-slide-to="2">
            <img class="d-block w-100" src="img/mode/rain.png" alt="Clam Blitz" />
        </li>
        <li data-target="#graphCarousel" data-slide-to="3">
            <img class="d-block w-100" src="img/mode/tower.png" alt="Clam Blitz" />
        </li>
    </ol>
    <div class="carousel-inner w-100 h-100 m-auto" style="padding-bottom: 2rem;">
        <div class="carousel-item active h-100">
            <div class="d-block w-100 h-100" id="clams-graph"></div>
        </div>
        <div class="carousel-item h-100">
            <div class="d-block w-100 h-100" id="zones-graph"></div>
        </div>
        <div class="carousel-item h-100">
            <div class="d-block w-100 h-100" id="rain-graph"></div>
        </div>
        <div class="carousel-item h-100">
            <div class="d-block w-100 h-100" id="tower-graph"></div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#graphCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#graphCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
