@using AspNet.Security.OAuth.Discord
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <img class="dropdown-toggle rounded-circle border border-primary" alt="Discord" width="40" style="border-width: 2px !important" href="#" id="navbarUserDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="@User.FindFirst(DiscordAuthenticationConstants.Claims.AvatarUrl).Value" />
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarUserDropdown">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" >
                    <button type="submit" class="nav-link btn btn-link dropdown-item">Logout</button>
                </form>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <form id="external-account" asp-area="Identity" asp-page="/Account/ExternalLogin" asp-route-returnUrl="~/" method="post">
                <button type="submit" class="login-button" name="provider" value="Discord" title="Log in using your Discord account">
                    <span class="login-span">
                        <svg class="login-svg" viewBox="0 0 48 48">
                            <path fill="currentColor" d="M40,12c0,0-4.585-3.588-10-4l-0.488,0.976C34.408,10.174,36.654,11.891,39,14c-4.045-2.065-8.039-4-15-4s-10.955,1.935-15,4c2.346-2.109,5.018-4.015,9.488-5.024L18,8c-5.681,0.537-10,4-10,4s-5.121,7.425-6,22c5.162,5.953,13,6,13,6l1.639-2.185C13.857,36.848,10.715,35.121,8,32c3.238,2.45,8.125,5,16,5s12.762-2.55,16-5c-2.715,3.121-5.857,4.848-8.639,5.815L33,40c0,0,7.838-0.047,13-6C45.121,19.425,40,12,40,12z M17.5,30c-1.933,0-3.5-1.791-3.5-4c0-2.209,1.567-4,3.5-4s3.5,1.791,3.5,4C21,28.209,19.433,30,17.5,30z M30.5,30c-1.933,0-3.5-1.791-3.5-4c0-2.209,1.567-4,3.5-4s3.5,1.791,3.5,4C34,28.209,32.433,30,30.5,30z"></path>
                        </svg>
                    </span>
                    Log In with Discord
                </button>
            </form>
        </li>
    }
    
    <li class="nav-item" style="padding-left: 1em"></li>

    <li class="nav-item dropdown" style="margin: auto">
        <button class="dropdown-toggle login-button" href="#" id="navbarThemeDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="login-span">
                <img class="login-svg" src="img/theme.svg" alt="Themes"/>
            </span>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarThemeDropdown">
            <btn class="dropdown-item btn btn-link" onclick="changeTheme('minty')">Default</btn>
            <btn class="dropdown-item btn btn-link" onclick="changeTheme('cerulean')">Cerulean</btn>
            <btn class="dropdown-item btn btn-link" onclick="changeTheme('cosmo')">Cosmo</btn>
            <btn class="dropdown-item btn btn-link" onclick="changeTheme('cyborg')">Cyborg</btn>
            <btn class="dropdown-item btn btn-link" onclick="changeTheme('darkly')">Darkly</btn>
            <btn class="dropdown-item btn btn-link" onclick="changeTheme('flatly')">Flatly</btn>
            <btn class="dropdown-item btn btn-link" onclick="changeTheme('journal')">Journal</btn>
            <btn class="dropdown-item btn btn-link" onclick="changeTheme('litera')">Litera</btn>
            <btn class="dropdown-item btn btn-link" onclick="changeTheme('lumen')">Lumen</btn>
            <btn class="dropdown-item btn btn-link" onclick="changeTheme('mux')">Lux</btn>
            <btn class="dropdown-item btn btn-link" onclick="changeTheme('materia')">Materia</btn>
            <btn class="dropdown-item btn btn-link" onclick="changeTheme('pulse')">Pulse</btn>
            <btn class="dropdown-item btn btn-link" onclick="changeTheme('sandstone')">Sandstone</btn>
            <btn class="dropdown-item btn btn-link" onclick="changeTheme('simplex')">Simplex</btn>
            <btn class="dropdown-item btn btn-link" onclick="changeTheme('sketchy')">Sketchy</btn>
            <btn class="dropdown-item btn btn-link" onclick="changeTheme('slate')">Slate</btn>
            <btn class="dropdown-item btn btn-link" onclick="changeTheme('solar')">Solar</btn>
            <btn class="dropdown-item btn btn-link" onclick="changeTheme('spacelab')">Spacelab</btn>
            <btn class="dropdown-item btn btn-link" onclick="changeTheme('superhero')">Superhero</btn>
            <btn class="dropdown-item btn btn-link" onclick="changeTheme('united')">United</btn>
            <btn class="dropdown-item btn btn-link" onclick="changeTheme('yeti')">Yeti</btn>
        </div>
    </li>
</ul>
